<div class="about-section">
    <h1>About the Team</h1>
    <p>Some text that needs filled in later</p>
</div>

<h2>Our Team</h2> <!--should be centered?-->
<div class="row">
    {{#each cardList}}
    <div class="column">
        <div class="card">
            <img src="{{this.imgsrc}}">
            <div class="container">
                <h2>{{this.contributor}}</h2>
                <p class="title">{{this.title}}</p>
                <p>{{this.abouttext}}</p>
                <p>{{this.github}}</p>
                <p><button class="button" data="{{this.email}}">Contact</button></p>
            </div>
        </div>
    </div>
    {{/each}}
</div>
