<div class="dash-div">
  <h3>Expense Forms</h3>

  <h4> {{usersName.first_name}} {{usersName.last_name}}</h4>
  <a href="/" class="dash-a">Homepage</a>
 
  {{#each EXPForms}}
    <div class="dash-expform-div">
      <p class="mt-l">Date: <span>{{date}}</span></p>
      <p>Description: <span>{{description}}</span></p>
      <p>Amount: <span>{{amount}}</span></p>
      <div class="pb">
      <a href="/dashboard/update/{{id}}" class="btn-styles anch-styles">Update</a>
      <button type="button" class="dash-del-btn" id="form-delete-btn">Delete</button>
    </div>
    </div>
    
    {{/each}}

 
</div>

<script src="/javascript/dashboard.js"></script>